/clases/clase5/node_modules
/clases/clase6/node_modules
/clases/clase8/node_modules
/clases/clase9/node_modules
/clases/clase10/node_modules
/clases/clase11/node_modules
/clases/clase14/node_modules
/Pre-Entregas/PE1 (old)
/Pre-Entregas/PE1/node_modules
/desafios/desafio4/node_modules
/desafios/desafio5-PI/node_modules
