<div class="container">
    <div id="producto" class="row"></div>
    <div class="row my-5">
        <div class="col-md-6">
            <h3>Agregar Producto</h3>
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="thumbnails" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="thumbnails">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="text" class="form-control" id="price">
            </div>
            <input type="button" class="btn btn-secondary" id="botonAgregarProducto" value="Agregar Producto">
        </div>
        <div class="col-md-6">
            <h3>Eliminar Producto</h3>
            <div class="mb-3">
                <label for="idProd" class="form-label">ID de Producto</label>
                <input type="text" class="form-control" id="idProducto">
            </div>
            <input type="button" class="btn btn-secondary" id="botonEliminarProducto" value="Eliminar Producto">
        </div>
    </div>
</div>


<script src="socket.io/socket.io.js"></script>
<script src="js/RTProducts.js"></script>

